################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MyDoctor/.vs/MyDoctor
/src/MyDoctor/.vs/*
/src/MyDoctor/*/obj/*
/src/MyDoctor/*/obj/*.json
/src/MyDoctor/*/obj/Debug/*
